@using Microsoft.AspNetCore.Identity
@using Wellness_USC.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bienestar Universitario</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/sweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="/sweetAlert/sweetalert.min.js"></script>
</head>

<body class="app-body">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm w-100 ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/images/home/bienestar_universitario-logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link"  asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  asp-controller="Clases" asp-action="Index">Clases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  asp-controller="Cursos" asp-action="Index">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  asp-controller="Profesores" asp-action="Index">Profesores</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if(User.IsInRole("administrador")){
                                <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Admin">Administración</a>
                        </li>
                            }else{
                                <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Salud">Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Gimnasio">Gimnasio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Centro">Centro</a>
                        </li>
                            }
                            
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Salud">Salud</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Gimnasio">Gimnasio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Centro">Centro</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">

        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="footer p-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h2 class="text-center">Contacto</h2>
                    <ul>
                        <li>
                            Calle 5 # 62-00
                        </li>
                        <li>
                            Universidad Santiago de Cali
                        </li>
                        <li>
                           Bloque 5 - Piso 3
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    
                </div>
                <div class="col-12 col-md-4">
                    
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
