@{
    ViewData["Title"] = "Página no Encontrada";
}


<div class="container mt-5 error-404 d-flex flex-column justify-content-center">
    <h1 class="text-center text-danger">@ViewData["Title"]</h1>
    <p class="text-center">@ViewBag.ErrorMessage</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-usc w-100 text-center">Home</a>
</div>