@model Wellness_USC.Models.Clase

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Clase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Clase" />
            <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Horario" class="control-label"></label>
                <select asp-for="Id_Horario" class="form-control" asp-items="ViewBag.Id_Horario"></select>
                <span asp-validation-for="Id_Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Profesores" class="control-label"></label>
                <select asp-for="Id_Profesores" class="form-control" asp-items="ViewBag.Id_Profesores"></select>
                <span asp-validation-for="Id_Profesores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

