@{
    ViewData["Title"] = "Registro Denegado";
}

<div class="container mt-5 p-5 error d-flex flex-column justify-content-center">
    <h1 class="text-center text-danger">
        Denegado
    </h1>
    <p class="text-center">Usted ya se encuentra en este curso o su solicitud ha sido denegada</p>
    <a asp-controller="Clases" asp-action="Index" class="btn btn-usc w-100">Volver a las Clases</a>
</div>