@model Wellness_USC.ViewModels.RegistrosViewModel;

@{
    ViewData["Title"] = "Registro en Clase";
}


<div class="container mt-5">
    <h1 class="text-center">Registro en Curso</h1>
    <p class="text-center">
        Estimado/a @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname) estas
        a punto de apuntarte
        a la clase llamada "@Html.DisplayFor(model => model.Clase)"
    </p>
    <p>¿Deseas Apuntarte?</p>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Clase"></label>
            <input asp-for="Clase" class="form-control" />
            <span asp-validation-for="Clase" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserId"></label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClaseId"></label>
            <input asp-for="ClaseId" class="form-control" />
            <span asp-validation-for="ClaseId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-usc">Apuntarse</button>
    </form>
    <a asp-action="" asp-controller="Clases" class="btn btn-danger">Cancelar</a>
</div>
