@{
    ViewData["Title"] = "Registro Exitoso";
}

<div class="container mt-5 p-5 success d-flex flex-column justify-content-center">
    <h1 class="text-center">
        Registro Exitoso
    </h1>
    <p class="text-center">Te has registrado de forma exitosa en este curso</p>
    <a asp-controller="Clases" asp-action="Index" class="btn btn-usc w-100">Volver a las Clases</a>
</div>