@model Wellness_USC.ViewModels.RegistrosViewModel;

@{
    ViewData["Title"] = "Registro en Clase";
}


<div class="container mt-5">
    <h1 class="text-center">Registro en Curso</h1>
    <p class="text-center">
        Estimado/a @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname) estas
        a punto de apuntarte
        a la clase llamada "@Html.DisplayFor(model => model.Clase)"
    </p>
    <p class="text-center">¿Deseas Apuntarte?</p>
    <form method="post">
        <input type="hidden" asp-for="Name" class="form-control" />
        <input type="hidden" asp-for="Surname" class="form-control" />
        <input type="hidden" asp-for="Clase" class="form-control" />
        <input type="hidden" asp-for="UserId" class="form-control" />
        <input type="hidden" asp-for="ClaseId" class="form-control" />
        <button type="submit" class="btn btn-usc w-100">Apuntarse</button>
    </form>
    <a asp-action="" asp-controller="Clases" class="btn btn-danger w-100">Cancelar</a>
</div>
