@{
    ViewData["Title"] = "Home Page";
}

<div class="container home">
    <img src="~/assets/images/home/background.jpg" width="100%" height="100%" />
</div>
<div class="container" style="height : 200vh">

</div>
