@page
@model AccessDeniedModel
@{

    ViewData["Title"] = "Acceso Denegado";
}

<div class="container mt-5 error d-flex flex-column justify-content-center">
    <h1 class="text-center text-danger">@ViewData["Title"]</h1>
    <p class="text-center">Lo sentimos, no tienes acceso a esta página</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-usc w-100 text-center">Home</a>
</div>
