@page
@model RegisterConfirmationModel
@{

    ViewData["Title"] = "Confirmar Registro";
}

<div class="container mt-5 success d-flex flex-column justify-content-center">

    <h1 class=" text-center">@ViewData["Title"]</h1>
    @{

        if (@Model.DisplayConfirmAccountLink)

        {
            <p>
                <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-usc w-100 p-3">Click aquí para Confirmar
                    tu
                    Cuenta</a>
            </p>

        }

        else

        {
            <p>
                Please check your email to confirm your account.
            </p>

        }
    }

</div>