

.imagen {
  width: 100%;
  height: 150px;
    background: url(../assets//images/register/universidad.jpeg);
  
  }

  .info{

    padding: 2em;
    line-height: 2;
  }

  info2 {
  
    position: relative;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
   
  }

  .columnas{

    float: left;
  }
  
  .color{
  
    color: var(--usc-blue);
  }

  .font{
    font-weight: 300;
  }

  .boton{
    background-color: var(--usc-blue);
    border-radius: 12px;
    color: white;
    border: 2px solid black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  }
  .boton:hover{ color: white;}
