

.formulario {

    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px  rgba(16, 63, 128);
    

}

.imagen {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(../assets//images/register/universidad.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .form-control{
    background: rgba(16, 63, 128, .1);
    border-style:  none;
    transition: 0.5s ease-in;
}
.form-control::placeholder{
    color:white;

}