@import "./fonts.css";

.navbar {
  position: fixed;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  max-width: 150px;
  max-height: 150px;
}

a.navbar-brand img {
  width: 100%;
  height: 100%;
}

.nav-link {
  color: white;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.app-body {
  background-color: black;
  color: white;
  font-family: "Google Sans", sans-serif;
}

.navbar {
  background-color: black;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
