@import "./fonts.css";

:root {
  --usc-blue: rgb(0, 63, 135);
  --usc-gradient: linear-gradient(
    to bottom,
    rgb(0, 63, 135),
    rgb(18, 69, 131),
    rgb(1, 47, 100)
  );
  --usc-second-gradient: linear-gradient(
    to top,
    rgb(0, 63, 135),
    rgb(18, 69, 131),
    rgb(1, 47, 100)
  );
  --usc-secondary-blue: rgb(1, 47, 100);
  --default-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  --max-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}

.navbar {
  background: var(--usc-gradient);
  box-shadow: var(--default-box-shadow);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
}

a.navbar-brand img {
  width: 100%;
  height: 100%;
}

.main-fill {
  width: 100%;
  height: 150px;
}

.nav-link {
  color: white;
  font-weight: bold;
  transition: 0.5s ease-out;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

.app-body {
  background-color: white;
  color: #003f87;
  font-family: "Neometric";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.btn-usc {
  background: var(--usc-blue);
  color: white;
  transition: 0.5s ease-out;
}

.btn-usc:hover,
.nav-link:hover {
  background: var(--usc-blue);
  color: white;
  transform: scale(1.1, 1.1);
}

button.navbar-toggler {
  color: white;
  background-color: white;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: none !important;
}

.navbar-toggler-icon {
  color: white;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  margin-top: 10%;
  background: var(--usc-second-gradient);
  box-shadow: -2px -2px 40px rgba(0, 0, 0, 0.5);
  color: white;
}

.create {
  width: 100%;
  background: var(--usc-blue);
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
}

.create a {
  color: white;
  background: var(--usc-blue);
  box-shadow: var(--max-box-shadow);
  margin: 10px;
  transition: 0.5s ease-out;
}

.create a:hover {
  color: white;
  transform: scale(1.1, 1.1);
}

.crud {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  height: 100px;
  max-width: 250px;
}

.crud a {
  color: white;
  background: var(--usc-blue);
  box-shadow: var(--max-box-shadow);
  margin: 10px;
  transition: 0.5s ease-out;
}

.main {
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .nav-link {
    text-align: center;
    background: var(--usc-secondary-blue);
  }
}

@media screen and (max-width: 600px) {
  a.navbar-brand {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (max-width: 400px) {
  a.navbar-brand {
    max-width: 70px;
    max-height: 70px;
  }
}
