@model Wellness_USC.Models.Profesores

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Profesores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apell" class="control-label"></label>
                <input asp-for="Apell" class="form-control" />
                <span asp-validation-for="Apell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFileP" class="control-label"></label>
                <input asp-for="ImageFileP" class="image/*" />
                <span asp-validation-for="ImageFileP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

